flows/flows.json
[
    {
        "id": "84ab6ad3.4c8a78",
        "type": "tab",
        "label": "Player (old)",
        "disabled": true,
        "info": ""
    },
    {
        "id": "2a6acf5c.4cd72",
        "type": "tab",
        "label": "Simulator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "41da34e8.8efd3c",
        "type": "tab",
        "label": "Shoot message (old)",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4911acde.51e634",
        "type": "tab",
        "label": "Weapons",
        "disabled": true,
        "info": ""
    },
    {
        "id": "53a5d437.78ad4c",
        "type": "subflow",
        "name": "Player",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 120,
                "wires": [
                    {
                        "id": "8d61be0f.da348"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 400,
                "wires": [
                    {
                        "id": "5e088be.662c974",
                        "port": 0
                    }
                ]
            },
            {
                "x": 780,
                "y": 200,
                "wires": [
                    {
                        "id": "38771853.3148c8",
                        "port": 0
                    },
                    {
                        "id": "5d13a153.0f116",
                        "port": 0
                    },
                    {
                        "id": "1f9b3479.2fd2dc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ID",
                "type": "num",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "ID"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "TEAM_ID",
                "type": "num",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Team ID"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "PISTOL_DAMAGE",
                "type": "num",
                "value": "-25",
                "ui": {
                    "label": {
                        "en-US": "Pistol damage"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "MAX_PER_MAGAZINE",
                "type": "num",
                "value": "5",
                "ui": {
                    "label": {
                        "en-US": "Magazine capacity"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "MAX_CAPACITY",
                "type": "num",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Bullets total capacity"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#3FADB5",
        "inputLabels": [
            "Actions"
        ],
        "outputLabels": [
            "Fire",
            "Status"
        ],
        "icon": "font-awesome/fa-child"
    },
    {
        "id": "224ffbe1.ee21b4",
        "type": "group",
        "z": "84ab6ad3.4c8a78",
        "name": "Debug",
        "style": {
            "label": true
        },
        "nodes": [
            "dbdee789.8ec958",
            "d88d73aa.fc3e8"
        ],
        "x": 594,
        "y": 179,
        "w": 412,
        "h": 82
    },
    {
        "id": "fc436f64.2d9e7",
        "type": "group",
        "z": "84ab6ad3.4c8a78",
        "name": "Configuration / referee functions",
        "style": {
            "fill": "#7f7f7f",
            "label": true,
            "color": "#000000",
            "fill-opacity": "0.43"
        },
        "nodes": [
            "60e56258.a62b9c",
            "2e9ae996.c9d856",
            "2a649f40.3635e",
            "2405ffbc.a427c"
        ],
        "x": 134,
        "y": 359,
        "w": 382,
        "h": 142
    },
    {
        "id": "84798051.1898d",
        "type": "group",
        "z": "41da34e8.8efd3c",
        "name": "Shooting process",
        "style": {
            "label": true
        },
        "nodes": [
            "923c8837.109168",
            "27465ec8.97a942",
            "2bc77c09.ff5464",
            "8b8884bc.f7e608",
            "4a843e8f.c3142",
            "72cc4b2a.5034c4",
            "8a802033.862dd",
            "d1b0a533.858868",
            "ce412c57.714d5"
        ],
        "x": 14,
        "y": 99
    },
    {
        "id": "1bde8982.2d5936",
        "type": "group",
        "z": "53a5d437.78ad4c",
        "name": "Configuration / referee functions",
        "style": {
            "fill": "#7f7f7f",
            "label": true,
            "color": "#000000",
            "fill-opacity": "0.43"
        },
        "nodes": [
            "8f867d98.2e336",
            "34f589ca.b637b6"
        ],
        "x": 104,
        "y": 739,
        "w": 207,
        "h": 142
    },
    {
        "id": "9b36f037.2f8ea",
        "type": "group",
        "z": "53a5d437.78ad4c",
        "name": "Shooting process",
        "style": {
            "label": true
        },
        "nodes": [
            "3ff1cf96.f69da",
            "95dd4262.9e821",
            "33cb6943.3cca96",
            "1907545c.ab151c",
            "f05619b5.440d78",
            "788b9b24.3cb914",
            "4cdc72fe.cb02cc",
            "5e088be.662c974",
            "c0307ab2.7556d8"
        ],
        "x": 114,
        "y": 239,
        "w": 1052,
        "h": 262
    },
    {
        "id": "8cb898f3.0a9998",
        "type": "group",
        "z": "53a5d437.78ad4c",
        "name": "Reload and refill process",
        "style": {
            "label": true
        },
        "nodes": [
            "de9b638f.b04d8",
            "e22f4de7.3ae3d",
            "9549fe0c.25eb9"
        ],
        "x": 34,
        "y": 539,
        "w": 832,
        "h": 162
    },
    {
        "id": "cc6e3a1c.39bae8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ec19520c.3da12",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9732ec7d.720b",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "ec19520c.3da12",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a0db4bd6.0316c8",
        "type": "inject",
        "z": "84ab6ad3.4c8a78",
        "name": "Initialize player",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "96d57c0b.2833c"
            ]
        ]
    },
    {
        "id": "96d57c0b.2833c",
        "type": "change",
        "z": "84ab6ad3.4c8a78",
        "name": "Initialize player object",
        "rules": [
            {
                "t": "delete",
                "p": "player",
                "pt": "global"
            },
            {
                "t": "set",
                "p": "player.life",
                "pt": "global",
                "to": "100",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "player.ID",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "player.type",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "player.teamID",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dbdee789.8ec958",
        "type": "inject",
        "z": "84ab6ad3.4c8a78",
        "g": "224ffbe1.ee21b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "player",
        "payloadType": "global",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "d88d73aa.fc3e8"
            ]
        ]
    },
    {
        "id": "d88d73aa.fc3e8",
        "type": "debug",
        "z": "84ab6ad3.4c8a78",
        "g": "224ffbe1.ee21b4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "6a79d7ef.3361b8",
        "type": "link out",
        "z": "4911acde.51e634",
        "name": "Trigger weapon",
        "links": [],
        "x": 235,
        "y": 260,
        "wires": []
    },
    {
        "id": "3e33cea7.770392",
        "type": "comment",
        "z": "4911acde.51e634",
        "name": "Trigger to shoot",
        "info": "",
        "x": 220,
        "y": 200,
        "wires": []
    },
    {
        "id": "ad117ea4.abcb8",
        "type": "inject",
        "z": "4911acde.51e634",
        "name": "Initialize weapon system",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 230,
        "y": 80,
        "wires": [
            [
                "901928fe.af3318"
            ]
        ]
    },
    {
        "id": "901928fe.af3318",
        "type": "change",
        "z": "4911acde.51e634",
        "name": "Initialize weapon system",
        "rules": [
            {
                "t": "delete",
                "p": "weapons",
                "pt": "global"
            },
            {
                "t": "set",
                "p": "weapons.pistol.damage",
                "pt": "global",
                "to": "-25",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "weapons.shotgun.damage",
                "pt": "global",
                "to": "-50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "weapons.sniper.damage",
                "pt": "global",
                "to": "-90",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "757bafc2.53557",
        "type": "debug",
        "z": "4911acde.51e634",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "45611ed0.9728b",
        "type": "inject",
        "z": "4911acde.51e634",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "weapons",
        "payloadType": "global",
        "x": 700,
        "y": 180,
        "wires": [
            [
                "757bafc2.53557"
            ]
        ]
    },
    {
        "id": "3005de97.aa0252",
        "type": "switch",
        "z": "4911acde.51e634",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6c7b6e9a.e037e",
        "type": "comment",
        "z": "41da34e8.8efd3c",
        "name": "Trigger",
        "info": "",
        "x": 70,
        "y": 60,
        "wires": []
    },
    {
        "id": "923c8837.109168",
        "type": "comment",
        "z": "41da34e8.8efd3c",
        "g": "84798051.1898d",
        "name": "Rate or cooldown",
        "info": "",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "9ff7c3d2.1b715",
        "type": "comment",
        "z": "41da34e8.8efd3c",
        "name": "Quantity or type of gun (active)",
        "info": "",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "30d1ae7b.04f502",
        "type": "comment",
        "z": "41da34e8.8efd3c",
        "name": "Type of message, player ID, team ID, type of gun or quantity",
        "info": "",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "27465ec8.97a942",
        "type": "debug",
        "z": "41da34e8.8efd3c",
        "g": "84798051.1898d",
        "name": "Player is dead",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 320,
        "wires": []
    },
    {
        "id": "2bc77c09.ff5464",
        "type": "inject",
        "z": "41da34e8.8efd3c",
        "g": "84798051.1898d",
        "name": "Shoot",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "ce412c57.714d5"
            ]
        ]
    },
    {
        "id": "8b8884bc.f7e608",
        "type": "switch",
        "z": "41da34e8.8efd3c",
        "g": "84798051.1898d",
        "name": "Is player alive?",
        "property": "player.life",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "72cc4b2a.5034c4"
            ],
            [
                "27465ec8.97a942"
            ]
        ]
    },
    {
        "id": "4a4d5d3d.a0dfb4",
        "type": "debug",
        "z": "41da34e8.8efd3c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "fcc3edb7.f935c",
        "type": "change",
        "z": "41da34e8.8efd3c",
        "name": "Build message",
        "rules": [
            {
                "t": "set",
                "p": "payload.messageType",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.playerID",
                "pt": "msg",
                "to": "player.ID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.teamID",
                "pt": "msg",
                "to": "player.teamID",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.damage",
                "pt": "msg",
                "to": "80",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 400,
        "wires": [
            [
                "4a4d5d3d.a0dfb4"
            ]
        ]
    },
    {
        "id": "60e56258.a62b9c",
        "type": "link in",
        "z": "84ab6ad3.4c8a78",
        "g": "fc436f64.2d9e7",
        "name": "Set Player ID",
        "links": [
            "16174f60.b4cbd1"
        ],
        "x": 175,
        "y": 400,
        "wires": [
            [
                "2e9ae996.c9d856"
            ]
        ]
    },
    {
        "id": "2e9ae996.c9d856",
        "type": "change",
        "z": "84ab6ad3.4c8a78",
        "g": "fc436f64.2d9e7",
        "name": "Set player ID",
        "rules": [
            {
                "t": "set",
                "p": "player.ID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2a649f40.3635e",
        "type": "change",
        "z": "84ab6ad3.4c8a78",
        "g": "fc436f64.2d9e7",
        "name": "Set team ID",
        "rules": [
            {
                "t": "set",
                "p": "player.teamID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2405ffbc.a427c",
        "type": "link in",
        "z": "84ab6ad3.4c8a78",
        "g": "fc436f64.2d9e7",
        "name": "Set team ID",
        "links": [],
        "x": 175,
        "y": 460,
        "wires": [
            [
                "2a649f40.3635e"
            ]
        ]
    },
    {
        "id": "a3d6b22a.bbd19",
        "type": "comment",
        "z": "84ab6ad3.4c8a78",
        "name": "Game nodes",
        "info": "",
        "x": 260,
        "y": 220,
        "wires": []
    },
    {
        "id": "19f940fc.15bebf",
        "type": "function",
        "z": "84ab6ad3.4c8a78",
        "name": "Add or substract life",
        "func": "var possibleLife = global.get(\"player.life\") + msg.payload;\n\nif (possibleLife < 0){\n    global.set(\"player.life\", 0);\n    return;\n}\nglobal.set(\"player.life\", possibleLife);\nreturn;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "7cf830c4.9d134",
        "type": "link in",
        "z": "84ab6ad3.4c8a78",
        "name": "Add or substract life",
        "links": [],
        "x": 195,
        "y": 280,
        "wires": [
            [
                "19f940fc.15bebf"
            ]
        ]
    },
    {
        "id": "31e2a480.96a95c",
        "type": "ui_gauge",
        "z": "84ab6ad3.4c8a78",
        "name": "",
        "group": "9732ec7d.720b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "157649cb.1bc786",
        "type": "inject",
        "z": "84ab6ad3.4c8a78",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.250",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "player.life",
        "payloadType": "global",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "31e2a480.96a95c"
            ]
        ]
    },
    {
        "id": "a242aab.6ef7958",
        "type": "inject",
        "z": "41da34e8.8efd3c",
        "name": "Initialize pistol",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "d58abb61.14e158"
            ]
        ]
    },
    {
        "id": "d58abb61.14e158",
        "type": "change",
        "z": "41da34e8.8efd3c",
        "name": "Initialize pistol",
        "rules": [
            {
                "t": "delete",
                "p": "pistol",
                "pt": "global"
            },
            {
                "t": "set",
                "p": "pistol.damage",
                "pt": "global",
                "to": "-25",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "pistol.inMagazine",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "pistol.outOfMagazine",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "pistol.maxPerMagazine",
                "pt": "global",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "pistol.maxCapacity",
                "pt": "global",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4a843e8f.c3142",
        "type": "function",
        "z": "41da34e8.8efd3c",
        "g": "84798051.1898d",
        "name": "Shoot and substract one bullet",
        "func": "var newInMagazine = global.get(\"pistol.inMagazine\") - 1;\nglobal.set(\"pistol.inMagazine\", newInMagazine);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 140,
        "wires": [
            [
                "d1b0a533.858868"
            ]
        ]
    },
    {
        "id": "72cc4b2a.5034c4",
        "type": "switch",
        "z": "41da34e8.8efd3c",
        "g": "84798051.1898d",
        "name": "Are there bullets in magazine?",
        "property": "pistol.inMagazine",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "4a843e8f.c3142"
            ],
            [
                "8a802033.862dd"
            ]
        ]
    },
    {
        "id": "8a802033.862dd",
        "type": "debug",
        "z": "41da34e8.8efd3c",
        "g": "84798051.1898d",
        "name": "Magazine is empty",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "d1b0a533.858868",
        "type": "debug",
        "z": "41da34e8.8efd3c",
        "g": "84798051.1898d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "d297abfd.f221e8",
        "type": "inject",
        "z": "41da34e8.8efd3c",
        "name": "Reload",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "efa933d0.081bc"
            ]
        ]
    },
    {
        "id": "8bc9576a.a4dd68",
        "type": "inject",
        "z": "41da34e8.8efd3c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "efa933d0.081bc",
        "type": "change",
        "z": "41da34e8.8efd3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pistol.inMagazine",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ce412c57.714d5",
        "type": "delay",
        "z": "41da34e8.8efd3c",
        "g": "84798051.1898d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "8b8884bc.f7e608"
            ]
        ]
    },
    {
        "id": "cd10c93e.b4e7d8",
        "type": "inject",
        "z": "53a5d437.78ad4c",
        "name": "Initialize player and pistol",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "d7579d35.0c386",
                "98fac7f.fe21738"
            ]
        ]
    },
    {
        "id": "d7579d35.0c386",
        "type": "change",
        "z": "53a5d437.78ad4c",
        "name": "Initialize player object",
        "rules": [
            {
                "t": "delete",
                "p": "player",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "player.life",
                "pt": "flow",
                "to": "100",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "player.ID",
                "pt": "flow",
                "to": "ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "player.type",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "player.teamID",
                "pt": "flow",
                "to": "TEAM_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 60,
        "wires": [
            [
                "38771853.3148c8"
            ]
        ]
    },
    {
        "id": "9515895a.048d18",
        "type": "function",
        "z": "53a5d437.78ad4c",
        "name": "Add or substract life",
        "func": "var possibleLife = flow.get(\"player.life\") + msg.payload;\n\nif (possibleLife < 0){\n    flow.set(\"player.life\", 0);\n    return;\n}\nflow.set(\"player.life\", possibleLife);\nreturn;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "8f867d98.2e336",
        "type": "change",
        "z": "53a5d437.78ad4c",
        "g": "1bde8982.2d5936",
        "name": "Set player ID",
        "rules": [
            {
                "t": "set",
                "p": "player.ID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "34f589ca.b637b6",
        "type": "change",
        "z": "53a5d437.78ad4c",
        "g": "1bde8982.2d5936",
        "name": "Set team ID",
        "rules": [
            {
                "t": "set",
                "p": "player.teamID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "8d61be0f.da348",
        "type": "switch",
        "z": "53a5d437.78ad4c",
        "name": "Redirect according msg.topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "initialize",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hit",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fire",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "reload",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "refill",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "status",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "d7579d35.0c386",
                "98fac7f.fe21738"
            ],
            [
                "9515895a.048d18"
            ],
            [
                "4cdc72fe.cb02cc"
            ],
            [
                "9549fe0c.25eb9"
            ],
            [
                "de9b638f.b04d8"
            ],
            [
                "1f9b3479.2fd2dc"
            ]
        ]
    },
    {
        "id": "f61f3c91.6c85d",
        "type": "subflow:53a5d437.78ad4c",
        "z": "2a6acf5c.4cd72",
        "name": "",
        "env": [
            {
                "name": "MAX_CAPACITY",
                "value": "100",
                "type": "num"
            },
            {
                "name": "pistolDamage",
                "value": "",
                "type": "num"
            },
            {
                "name": "maxPerMagazine",
                "value": "",
                "type": "num"
            }
        ],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "e974c45e.0f18f8"
            ],
            [
                "30f99277.99122e"
            ]
        ]
    },
    {
        "id": "e974c45e.0f18f8",
        "type": "debug",
        "z": "2a6acf5c.4cd72",
        "name": "Fire",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "c0307ab2.7556d8",
        "type": "comment",
        "z": "53a5d437.78ad4c",
        "g": "9b36f037.2f8ea",
        "name": "Player ID, team ID, type of gun or quantity",
        "info": "",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "5e088be.662c974",
        "type": "change",
        "z": "53a5d437.78ad4c",
        "g": "9b36f037.2f8ea",
        "name": "Build message",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.playerID",
                "pt": "msg",
                "to": "ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.teamID",
                "pt": "msg",
                "to": "TEAM_ID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.damage",
                "pt": "msg",
                "to": "PISTOL_DAMAGE",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "98fac7f.fe21738",
        "type": "change",
        "z": "53a5d437.78ad4c",
        "name": "Initialize pistol",
        "rules": [
            {
                "t": "delete",
                "p": "pistol",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "pistol.damage",
                "pt": "flow",
                "to": "PISTOL_DAMAGE",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "pistol.inMagazine",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "pistol.outOfMagazine",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "pistol.maxPerMagazine",
                "pt": "flow",
                "to": "MAX_PER_MAGAZINE",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "pistol.maxCapacity",
                "pt": "flow",
                "to": "MAX_CAPACITY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 20,
        "wires": [
            [
                "5d13a153.0f116"
            ]
        ]
    },
    {
        "id": "3ff1cf96.f69da",
        "type": "comment",
        "z": "53a5d437.78ad4c",
        "g": "9b36f037.2f8ea",
        "name": "Rate or cooldown",
        "info": "",
        "x": 300,
        "y": 300,
        "wires": []
    },
    {
        "id": "95dd4262.9e821",
        "type": "debug",
        "z": "53a5d437.78ad4c",
        "g": "9b36f037.2f8ea",
        "name": "Player is dead",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 460,
        "wires": []
    },
    {
        "id": "33cb6943.3cca96",
        "type": "switch",
        "z": "53a5d437.78ad4c",
        "g": "9b36f037.2f8ea",
        "name": "Is player alive?",
        "property": "player.life",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "f05619b5.440d78"
            ],
            [
                "95dd4262.9e821"
            ]
        ]
    },
    {
        "id": "1907545c.ab151c",
        "type": "function",
        "z": "53a5d437.78ad4c",
        "g": "9b36f037.2f8ea",
        "name": "Shoot and substract one bullet",
        "func": "var newInMagazine = flow.get(\"pistol.inMagazine\") - 1;\nflow.set(\"pistol.inMagazine\", newInMagazine);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 280,
        "wires": [
            [
                "5e088be.662c974"
            ]
        ]
    },
    {
        "id": "f05619b5.440d78",
        "type": "switch",
        "z": "53a5d437.78ad4c",
        "g": "9b36f037.2f8ea",
        "name": "Are there bullets in magazine?",
        "property": "pistol.inMagazine",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 360,
        "wires": [
            [
                "1907545c.ab151c"
            ],
            [
                "788b9b24.3cb914"
            ]
        ]
    },
    {
        "id": "788b9b24.3cb914",
        "type": "debug",
        "z": "53a5d437.78ad4c",
        "g": "9b36f037.2f8ea",
        "name": "Magazine is empty",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "4cdc72fe.cb02cc",
        "type": "delay",
        "z": "53a5d437.78ad4c",
        "g": "9b36f037.2f8ea",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "33cb6943.3cca96"
            ]
        ]
    },
    {
        "id": "32f492e3.17362e",
        "type": "inject",
        "z": "2a6acf5c.4cd72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "fire",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "f61f3c91.6c85d"
            ]
        ]
    },
    {
        "id": "30f99277.99122e",
        "type": "debug",
        "z": "2a6acf5c.4cd72",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "38771853.3148c8",
        "type": "change",
        "z": "53a5d437.78ad4c",
        "name": "Output player status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "player",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "player",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5d13a153.0f116",
        "type": "change",
        "z": "53a5d437.78ad4c",
        "name": "Output pistol status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pistol",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pistol",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "de9b638f.b04d8",
        "type": "function",
        "z": "53a5d437.78ad4c",
        "g": "8cb898f3.0a9998",
        "name": "Refill",
        "func": "var possibleNewQuantity = flow.get(\"pistol.outOfMagazine\") + msg.payload;\n\nif (possibleNewQuantity > env.get(\"MAX_CAPACITY\")){\n    flow.set(\"pistol.outOfMagazine\", env.get(\"MAX_CAPACITY\"));\n    return;\n}\nelse {\n    flow.set(\"pistol.outOfMagazine\", possibleNewQuantity);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e22f4de7.3ae3d",
        "type": "comment",
        "z": "53a5d437.78ad4c",
        "g": "8cb898f3.0a9998",
        "name": "NOTE: Refill bullets are \"lost\" if maxCapacity is reached (nothing is checking how many bullets there are before refill)",
        "info": "",
        "x": 450,
        "y": 660,
        "wires": []
    },
    {
        "id": "9549fe0c.25eb9",
        "type": "function",
        "z": "53a5d437.78ad4c",
        "g": "8cb898f3.0a9998",
        "name": "Reload",
        "func": "var maxPerMagazine = env.get(\"MAX_PER_MAGAZINE\");\nvar inMagazine = flow.get(\"pistol.inMagazine\");\nvar outOfMagazine = flow.get(\"pistol.outOfMagazine\");\n\nvar freeSpace = maxPerMagazine - inMagazine;\n\nif (freeSpace === 0 || outOfMagazine === 0){\n    // Do nothing in this case.\n    return msg;\n}\nelse if (freeSpace <= outOfMagazine){\n    inMagazine = inMagazine + freeSpace;\n    outOfMagazine = outOfMagazine - freeSpace;\n}\nelse if (freeSpace > outOfMagazine){\n    inMagazine = inMagazine + outOfMagazine;\n    outOfMagazine = 0;\n}\nflow.set(\"pistol.inMagazine\", inMagazine);\nflow.set(\"pistol.outOfMagazine\", outOfMagazine);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c85fb8f9.bf9f98",
        "type": "inject",
        "z": "2a6acf5c.4cd72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reload",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "f61f3c91.6c85d"
            ]
        ]
    },
    {
        "id": "71af4519.6c29cc",
        "type": "inject",
        "z": "2a6acf5c.4cd72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "refill",
        "payload": "5",
        "payloadType": "num",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "f61f3c91.6c85d"
            ]
        ]
    },
    {
        "id": "54e45bda.d51154",
        "type": "inject",
        "z": "2a6acf5c.4cd72",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "status",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "f61f3c91.6c85d"
            ]
        ]
    },
    {
        "id": "1f9b3479.2fd2dc",
        "type": "function",
        "z": "53a5d437.78ad4c",
        "name": "Query player status",
        "func": "var msg1 = { payload : flow.get(\"player\")};\nvar msg2 = { payload : flow.get(\"pistol\")};\nreturn [ [ msg1, msg2 ] ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 120,
        "wires": [
            []
        ]
    }
]